body{
	line-height: 1.5;
}


.name{
	float: left;
	padding: 10px;
	margin-left: 20px;
}

.menu li a{
	padding: 20px;
}

header {
	padding-top: 5px;
	border-bottom: 2px solid;
	line-height: 55px;
	min-height: 60px;
	background-color: #000
}

footer {
	bottom:0;
	right:0;
	left:0;
	width: 100%;
	border-top: 25px;
	border-top-style: 2px solid;
	position: absolute;
	padding: 1em;
	margin-left: 350px;

}

.name,
.menu li a{
	color: green;
}

ul.menu li a:hover{
	color: red;
}


nav {
	float: right;
}

nav ul {
	margin-right: 45px;

}

nav li{
	display: inline-block;

}

nav a {
	text-decoration: none;

}

html {
	margin-top: 20px;
	background-color: green;
}

.container {
	width: 1200px;
	height: 900px;
	border: 1px solid black;
	margin: 0 auto;
	margin-top: 45px;
	background-color: white;
}

/***********************************
HOME
***********************************/


/***********************************
ABOUT
***********************************/

.antonio {
	float:left;
	width: 480px;
	height: 415px;
	margin-left: 60px;
	margin-top: 125px;

}

.about{
	float:right;
	width:35%;
	height: 45%;
	clear:right;
	margin-right:85px;
	margin-top: 125px;
	border: 2px solid black;

}

/***********************************
MENU
***********************************/


#slide{
	clear: left;
	position: absolute;
	width: 600px
	height: 400px;
	display: none;
}



.sidebar {
	clear: right;
	margin-right: 55px;
	margin-left: 25px;
	margin-top: 100px;
	border: 2px solid black;
	width:35%;	
}

h2{
	font-weight: bold;
	font-size: 20px;
}

/**************************************
CONTACT PAGE
***************************************/


.container{
	width: 1200px;
	margin: auto;
	
}
.info{
	float: left;
	width: 35%;
	clear: left;
	margin: 10px;
	padding:20px;

}

.forum{
	float:right;
	width:35%;
	margin:10px;
	padding:20px;


}

.info,
.forum{
	display: block;
	min-height: 900px;
}

h1 {
	font-weight: bold;
	font-size: 26px;
}



@media all and (min-width: 480px){
	.name {
		display:inline-block;
		float: left;
		padding: 8px;
		clear: left;

	}

	ul.menu li {
		display:inline-block;
		float: right;
		padding: 8px;
		
	}

	
	.menu li: last child {
		border-right: none;
	}


}